header{
    background-color: black;
    display: flex; 
    justify-content: space-between;;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    
    -webkit-box-shadow: 0px 1px 10px -3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 10px -3px rgba(255,255,255,1);
    box-shadow: 0px 1px 10px -3px rgba(255,255,255,1);
}

  h1{
    font-size: 1.4rem;
    inline-size: max-content;
    color: white;
    padding: 0.5rem;
    margin: 0 2rem;
    font-weight: bold;
  }

  h1:hover{
    color: rgb(230, 228, 228);
    scale: 1.1;
    transition: 0.3s;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li{
    list-style: none;
    color: white;
    font-weight: bold;
    z-index: 10;
}
   
li:hover{
    scale: 1.3;
    transition: 0.4s;
    cursor: pointer;
}

.close-icon{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;


    background: rgba( 53, 52, 52, 0.75 );
    box-shadow: 0 8px 32px 0 #6f8d2269;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px 0 0 0;
    border-left: 1px solid rgba( 255, 255, 255, 0.18 );
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    
    box-shadow: 0 0 0 100vmax rgba(53, 52, 52, 0.6);
    padding: 1.2rem;

    width: 150px;
}
.fas{
  color: white;
  padding: 1rem;
}

.fa-times{position: relative;}
.fa-times:hover,.fa-bars:hover{
    scale: 1.3;
    transition: 0.4s;
    cursor: pointer;
}

